<?xml version="1.0" encoding="UTF-8"?>
<web-app>

    <servlet>
        <servlet-name>Root</servlet-name>
        <servlet-class>com.trivial.wishlist.RootServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Root</servlet-name>
        <url-pattern>/root/*</url-pattern>
    </servlet-mapping>

</web-app>